In [32]:
#Импорт библиотек
import pandas as pd

In [33]:
df = pd.read_csv("D:/bodya/Data_Analyst_Pet_Projects/ChicagoCrimes/Crimes_2025.csv")

In [34]:
df = df.drop(['Block', 'IUCR', 'Description', 'Domestic', 'Ward', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Updated On'], axis=1)

In [35]:
df.head(10) #Вывод 10 первых строк

,ID,Case Number,Date,Primary Type,Location Description,Arrest,Beat,District,Community Area,Year,Latitude,Longitude,Location
0,13761241,JJ160950,02/25/2025 12:00:00 AM,BATTERY,STREET,False,621,6,71,2025,41.751928,-87.644077,POINT (-87.644077264 41.751928332)
1,13758436,JJ161145,02/25/2025 12:00:00 AM,THEFT,RESIDENCE - PORCH / HALLWAY,False,1413,14,22,2025,41.926496,-87.711272,POINT (-87.711272034 41.92649591)
2,13761404,JJ164710,02/25/2025 12:00:00 AM,THEFT,STREET,False,2514,25,19,2025,41.938534,-87.769664,POINT (-87.769664489 41.938534467)
3,13759742,JJ162571,02/25/2025 12:00:00 AM,SEX OFFENSE,APARTMENT,False,621,6,44,2025,41.748107,-87.637877,POINT (-87.637877407 41.748106575)
4,13760822,JJ164097,02/25/2025 12:00:00 AM,THEFT,HOSPITAL BUILDING / GROUNDS,False,2031,20,4,2025,41.975122,-87.698899,POINT (-87.698898525 41.975121537)
5,13759622,JJ162644,02/25/2025 12:00:00 AM,THEFT,APARTMENT,False,732,7,68,2025,41.768236,-87.642041,POINT (-87.642040549 41.76823645)
6,13758406,JJ161010,02/25/2025 12:00:00 AM,CRIMINAL DAMAGE,RESIDENCE - GARAGE,False,921,9,58,2025,41.820691,-87.690802,POINT (-87.690802238 41.820691149)
7,13758384,JJ161012,02/25/2025 12:00:00 AM,NARCOTICS,STREET,True,1121,11,23,2025,41.895480,-87.714298,POINT (-87.714298449 41.895480474)
8,13758413,JJ161046,02/25/2025 12:00:00 AM,CRIMINAL DAMAGE,RESIDENCE,False,424,4,46,2025,41.732897,-87.549937,POINT (-87.549937166 41.732897026)
9,13758247,JJ160863,02/24/2025 11:50:00 PM,WEAPONS VIOLATION,SIDEWALK,False,623,6,69,2025,41.751453,-87.624568,POINT (-87.624567581 41.751452878)

## Описание данных:

- ID: Это может быть уникальный идентификатор для каждой строки данных (преступления).

- Date: Дата и время совершения преступления.
                
- Primary Type: Тип преступления (например, кража, убийство, нападение и т. д.).

- Description: Более детальное описание преступления.

- Location Description: Местоположение, где произошло преступление (например, улица, парк, здание).
                
- Arrest: Информация о том, был ли произведен арест (1 - арест, 0 - без ареста).
                
- Latitude/Longitude: Координаты местоположения преступления.
                
- Year/Month/Day: Год, месяц и день совершения преступления.
                
- District: Полицейский район или округ, где произошло преступление.
                
- Community Area: Район, в котором совершено преступление (может быть в виде кода района).

In [36]:
df.info() # общая информация о датасете

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31340 entries, 0 to 31339
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    31340 non-null  int64
 1   Case Number           31340 non-null  object
 2   Date                  31340 non-null  object
 3   Primary Type          31340 non-null  object
 4   Location Description  31271 non-null  object
 5   Arrest                31340 non-null  bool
 6   Beat                  31340 non-null  int64
 7   District              31340 non-null  int64
 8   Community Area        31340 non-null  int64
 9   Year                  31340 non-null  int64
 10  Latitude              31277 non-null  float64
 11  Longitude             31277 non-null  float64
 12  Location              31277 non-null  object
dtypes: bool(1), float64(2), int64(5), object(5)
memory usage: 2.9+ MB

In [38]:
df.describe() # cтатистика по числовым данным

,ID,Beat,District,Community Area,Year,Latitude,Longitude
count,3.134000e+04,31340.000000,31340.000000,31340.000000,31340.0,31277.000000,31277.000000
mean,1.370936e+07,1152.650798,11.299043,36.575016,2025.0,41.846125,-87.669076
std,5.841702e+05,714.304266,7.141032,21.577809,0.0,0.087292,0.059362
min,2.854500e+04,111.000000,1.000000,1.000000,2025.0,41.644590,-87.922965
25%,1.372169e+07,532.000000,5.000000,23.000000,2025.0,41.771722,-87.711739
50%,1.373441e+07,1031.000000,10.000000,32.000000,2025.0,41.864045,-87.661882
75%,1.374687e+07,1732.000000,17.000000,53.000000,2025.0,41.909294,-87.627139
max,1.376481e+07,2535.000000,31.000000,77.000000,2025.0,42.022536,-87.525406

# Анализ столбцов на основе описательной статистики

### 1. Столбец 'ID'
- Если в столбце 'ID' минимальное значение будет очень маленьким или равным 0, это может указывать на ошибку. Такие значения нужно проверять на корректность.

### 2. Столбец 'Arrest'
- Для столбца 'Arrest' проверим, если есть значения, которые не соответствуют допустимым (например, значения, отличные от "True" или "False"). Если в данных есть другие значения, это может указывать на ошибку.

### 3. Столбец 'Location Description'
- Если в столбце 'Location Description' присутствуют значения "NA" или "Unknown" в огромном количестве, это может быть связано с отсутствием данных. Нужно оценить, является ли это нормой для данного столбца или это ошибка в данных.

### 4. Столбец 'Latitude' и 'Longitude'
- Параметры широты ('Latitude') и долготы ('Longitude') должны находиться в пределах:
  - Широта от -90 до 90.
  - Долгота от -180 до 180.
- Нужно проверить, есть ли значения, выходящие за эти пределы, так как это может указывать на ошибочные данные.

### 5. Столбец 'Date'
- Для столбца 'Date' необходимо проверить корректность формата дат. 
- Невозможно, чтобы дата была в будущем или на несколько лет назад, если это явно ошибка.

### 6. Столбец 'Primary Type'
- Для столбца 'Primary Type' нужно провести аналогичный анализ, как для типа преступлений. Проверим на необычные значения или аномалии, которые могут указывать на ошибочные данные.

In [41]:
(df.isnull().sum()) #проверка на пропущенные значения

ID                       0
Case Number              0
Date                     0
Primary Type             0
Location Description    69
Arrest                   0
Beat                     0
District                 0
Community Area           0
Year                     0
Latitude                63
Longitude               63
Location                63
dtype: int64

## Анализ пропущенных значений:
 #### Столбец 'Location Description' (69 пропущенных значений):
- В этом столбце отсутствуют значения в 69 случаях, что может указывать на отсутствие информации о местоположении. Это нужно исследовать: Возможно, для некоторых случаев информация не была предоставлена или не применялась.
- Можно обработать пропущенные значения путем их удаления или замены (например, на 'Unknown').

 #### Столбец 'Latitude' (63 пропущенных значений):
- Пропущены данные по широте в 63 случаях. Это может означать, что для некоторых случаев не было зафиксировано географическое местоположение.
- Такие строки можно удалить или обработать пропущенные значения.

 #### Столбец 'Longitude' (63 пропущенных значений):
- Аналогично к 'Latitude'.
      
 #### Столбец 'Location' (63 пропущенных значений):
- Пропущенные данные в этом столбце также могут указывать на отсутствие информации о точном местоположении.